---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fixedip-ipam-server
  namespace: kube-system
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  selector:
    matchLabels:
      app: fixedip-ipam-server
  template:
    metadata:
      labels:
        app: fixedip-ipam-server
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: Exists
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: fixedip-ipam-server
              topologyKey: kubernetes.io/hostname
      containers:
        - args:
            - --port={{ fixedip_ipam_server_port }}
            - --webhook-port={{ fixedip_ipam_webhook_port }}
            - -v=2
          image: {{ fixedip_ipam_server_image_repo }}:{{ fixedip_ipam_server_image_tag }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz?type=liveness
              port: {{ fixedip_ipam_server_port }}
              scheme: HTTP
            initialDelaySeconds: 120
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: fixedip-ipam-server
          ports:
            - containerPort: {{ fixedip_ipam_server_port }}
              name: server
            - containerPort: {{ fixedip_ipam_webhook_port }}
              name: webhook
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz?type=readiness
              port: {{ fixedip_ipam_server_port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 300m
              memory: 500Mi
            requests:
              cpu: 50m
              memory: 200Mi
      hostNetwork: true
      priorityClassName: system-cluster-critical
      serviceAccountName: fixedip-ipam-server
      terminationGracePeriodSeconds: 5
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
---
apiVersion: v1
kind: Service
metadata:
  name: fixedip-ipam-server
  namespace: kube-system
spec:
  type: ClusterIP
  selector:
    app: fixedip-ipam-server
  ports:
    - name: server
      port: 8080
      protocol: TCP
      targetPort: {{ fixedip_ipam_server_port }}
    - name: webhook
      port: 8443
      protocol: TCP
      targetPort: {{ fixedip_ipam_webhook_port }}
