---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fixedip-ipam-server
  namespace: kube-system
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  selector:
    matchLabels:
      app: fixedip-ipam-server
  template:
    metadata:
      labels:
        app: fixedip-ipam-server
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: Exists
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: fixedip-ipam-server
              topologyKey: kubernetes.io/hostname
      containers:
        - env:
            - name: IPAM_LISTEN_PORT
              value: "{{ fixedip_ipam_server_port }}"
            - name: IPAM_WEBHOOK_LISTEN_PORT
              value: "{{ fixedip_ipam_webhook_port }}"
          image: {{ fixedip_ipam_server_image_repo }}:{{ fixedip_ipam_server_image_tag }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz?type=liveness
              port: {{ fixedip_ipam_server_port }}
              scheme: HTTP
            initialDelaySeconds: 120
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: server
          ports:
            - containerPort: {{ fixedip_ipam_server_port }}
            - containerPort: {{ fixedip_ipam_webhook_port }}
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz?type=readiness
              port: {{ fixedip_ipam_server_port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 300m
              memory: 500Mi
            requests:
              cpu: 50m
              memory: 200Mi
      hostNetwork: true
      priorityClassName: system-cluster-critical
      serviceAccountName: fixedip-ipam-server
      terminationGracePeriodSeconds: 5
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
---
apiVersion: v1
kind: Service
metadata:
  name: fixedip-ipam-server
  namespace: kube-system
spec:
  type: ClusterIP
  selector:
    app: fixedip-ipam-server
  ports:
    - port: 8080
      protocol: TCP
      targetPort: {{ fixedip_ipam_server_port }}
    - port: 8443
      protocol: TCP
      targetPort: {{ fixedip_ipam_webhook_port }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: ipresource-validating-webhook
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    caBundle:
    service:
      name: fixedip-ipam-server
      namespace: kube-system
      path: /ipresource-webhook
      port: 8443
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: ipresource.networking.containeros.dev
  rules:
  - apiGroups:
    - networking.containeros.dev
    apiVersions:
    - v1beta1
    operations:
    - UPDATE
    resources:
    - ipresources
    scope: Namespaced
  sideEffects: None
  timeoutSeconds: 5
