---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: kube-multus-ds-amd64
  namespace: kube-system
  labels:
    tier: node
    app: multus
spec:
  selector:
    matchLabels:
      tier: node
      app: multus
  template:
    metadata:
      labels:
        tier: node
        app: multus
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        kubernetes.io/arch: amd64
      tolerations:
      - operator: Exists
      serviceAccountName: multus
      initContainers:
      - command:
        - /bin/bash
        - -c
        - install -m 744 /root/bridge-vlan {{ multus_cni_bin_dir }}
        image: {{ bridge_vlan_image_repo }}:{{ bridge_vlan_image_tag }}
        name: init-kube-bridge-vlan
        resources:
          limits:
            cpu: 20m
            memory: 50Mi
          requests:
            cpu: 10m
            memory: 20Mi
        volumeMounts:
        - mountPath: {{ multus_cni_bin_dir }}
          mountPropagation: HostToContainer
          name: cnibin
      - command:
        - /bin/bash
        - -c
        - /root/install-ipam.sh {{ multus_cni_bin_dir }}
        image: {{ fixedip_ipam_client_image_repo }}:{{ fixedip_ipam_client_image_tag }}
        name: init-kube-fixedip-ipam
        resources:
          limits:
            cpu: 20m
            memory: 50Mi
          requests:
            cpu: 10m
            memory: 20Mi
        volumeMounts:
        - mountPath: {{ multus_cni_bin_dir }}
          mountPropagation: HostToContainer
          name: cnibin
      containers:
      - name: kube-multus
        image: {{ multus_image_repo }}:{{ multus_image_tag }}
        command: ["/entrypoint.sh"]
        args:
        - "--cni-conf-dir={{ multus_cni_conf_dir }}"
        - "--cni-bin-dir={{ multus_cni_bin_dir }}"
        - "--multus-conf-file=/tmp/multus-conf/02-multus.conf"
        - "--multus-kubeconfig-file-host={{ multus_kubeconfig_file_host }}"
        - "--cni-version={{ multus_cni_version }}"
{% if container_manager == 'crio' %}
        - "--restart-crio=true"
{% endif %}
        resources:
          requests:
            cpu: "100m"
            memory: "90Mi"
          limits:
            cpu: "100m"
            memory: "90Mi"
        securityContext:
          privileged: true
{% if container_manager == 'crio' %}
          capabilities:
            add: ["SYS_ADMIN"]
{% endif %}
        volumeMounts:
{% if container_manager == 'crio' %}
        - name: run
          mountPath: {{ multus_cni_run_dir }}
{% endif %}
        - name: cni
          mountPath: {{  multus_cni_conf_dir }}
        - name: cnibin
          mountPath: {{ multus_cni_bin_dir }}
        - mountPath: /tmp/multus-conf
          mountPropagation: HostToContainer
          name: multus-cfg
      volumes:
{% if container_manager == 'crio' %}
      - name: run
        hostPath:
          path: {{ multus_cni_run_dir_host }}
{% endif %}
      - name: cni
        hostPath:
          path: {{ multus_cni_conf_dir_host }}
      - name: cnibin
        hostPath:
          path: {{ multus_cni_bin_dir_host }}
      - name: multus-cfg
        configMap:
          defaultMode: 420
          items:
          - key: cni-conf.json
            path: 02-multus.conf
          name: multus-cni-config

