---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    k8s-app: network-agent
  name: network-agent
  namespace: kube-system
spec:
  selector:
    matchLabels:
      k8s-app: network-agent
  template:
    metadata:
      labels:
        k8s-app: network-agent
    spec:
      containers:
      - env:
        - name: SYNC_SWITCH
          value: "on"
        - name: HOST_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.hostIP
        image: {{ network_agent_image_repo }}:{{ network_agent_image_tag }}
        imagePullPolicy: Always
        name: network-agent
        resources:
          requests:
            cpu: 50m
            memory: 20Mi
        securityContext:
          privileged: true
          procMount: Default
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/run/network-agent
          name: var-run-network-agent
        - mountPath: /lib/modules
          name: lib-modules
          readOnly: true
        - mountPath: /run/xtables.lock
          name: xtables-lock
          readOnly: false
      dnsPolicy: ClusterFirst
      hostNetwork: true
      nodeSelector:
        kubernetes.io/os: linux
      priorityClassName: system-node-critical
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      tolerations:
      - effect: NoSchedule
        operator: Exists
      - effect: NoExecute
        operator: Exists
      volumes:
      - hostPath:
          path: /var/run/network-agent
          type: DirectoryOrCreate
        name: var-run-network-agent
      - hostPath:
          path: /lib/modules
          type: ""
        name: lib-modules
      - hostPath:
          path: /run/xtables.lock
          type: FileOrCreate
        name: xtables-lock
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
