---
apiVersion: networking.containeros.dev/v1beta1
kind: Network
metadata:
  name: {{ default_network_name }}
  annotations:
    displayName: "{{ default_network_display_name }}"
spec:
  type: "calico"
  isDefaultNetwork: true
  isFixedIP: {{ fixedip_enabled | bool }}
  ipRecycleTimeout: {{ (recycle_enabled | bool) | ternary(0, -1) }}
  cni:
{% if kube_network_plugin == "bd-calico" %}
    calico:
      networkBackend: "{{ calico_network_backend }}"
{% if calico_network_backend == "bird" %}
      rrPeerType: "{{ peer_with_router | ternary('router', 'inCluster') }}"
{% if peers is defined and peer_with_router %}
      rrPeers:
{% for peer in peers %}
      - {{ peer.router_id }}
{% endfor %}
{% elif peer_with_calico_rr %}
      rrPeers: []
{% endif %}
      asNumber: {{ global_as_num }}
{% endif %}
{% endif %}
  subnets:
  - id: "{{ default_network_subnet_id }}"
    cidr: "{{ kube_pods_subnet }}"
    nodeCidrMaskSize: {{ kube_network_node_prefix }}

---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  namespace: kube-system
  name: {{ default_network_name }}
spec: {}
