# Cannot add high-frequency modified configuration.
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ cluster_info_cm_name }}"
  namespace: "{{ cos_running_namespaces }}"
data:
  kubeVersion: "{{ kube_version }}"
{% if cluster_vip %}
  clusterVIP: "{{ cluster_vip }}"
{% endif %}
  networking: "{{ kube_network_plugin | replace('bd-', '') }}"
  cidr: "{{ kube_pods_subnet }}"
  serviceIPRange: "{{ kube_service_addresses }}"
  dnsIP: "{{ skydns_server }}"
  dnsDomain: "{{ cluster_name }}"
  clusterIdentityName: "{{ cluster_identity_name }}"
{% if cloud_provider is defined %}
  cloudProvider: "{{ cloud_provider }}"
{% else %}
  cloudProvider: "generic"
{% endif %}
  gpuEnhancement: "{{ gpu_enhancement }}"
  calicoBackend: "{{ calico_backend }}"
{% if calico_backend == "bird" %}
  calicoPeerType: "{{ calico_peer_type }}"
{% if calico_peer_type == "router" %}
  calicoPeers: "{{ calico_peers | join(', ') }}"
{% endif %}
{% endif %}
  asNum: "{{ as_num }}"
  fixedIPEnabled: "{{ fixedip_enabled | lower }}"
  recycleEnabled: "{{ recycle_enabled | lower }}"
  kubeNetworkNodePrefix: "{{ kube_network_node_prefix }}"
  kubeServiceAddresses: "{{ kube_service_addresses }}"
  kubePodsSubnet: "{{ kube_pods_subnet }}"
{% if enable_nodelocaldns %}
{% set kubelet_cluster_dns = [nodelocaldns_ip] %}
{% elif dns_mode in ['coredns'] %}
{% set kubelet_cluster_dns = [skydns_server] %}
{% elif dns_mode == 'coredns_dual' %}
{% set kubelet_cluster_dns = [skydns_server,skydns_server_secondary] %}
{% elif dns_mode == 'manual' %}
{% set kubelet_cluster_dns = [manual_dns_server] %}
{% else %}
{% set kubelet_cluster_dns = [] %}
{% endif %}
  kubeletClusterDns: |
{% for dns_address in kubelet_cluster_dns %}
    - "{{ dns_address }}"
{% endfor %}
