apiVersion: v1
data:
  id_rsa: {{ ssh_key_id_rsa.content }}
  id_rsa.pub: {{ ssh_key_id_rsa_pub.content }}
kind: Secret
metadata:
  name: ssh-login-config
  namespace: {{ cos_running_namespaces }}
type: resource.caicloud.io/machine-login-config
