apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ system_info_cm_name }}"
  namespace: "{{ cos_running_namespaces }}"
  labels:
    release.containeros.dev/config-type: system-info
data:
  clusterDeployVersion: ""
  downloadURL: "{{ download_url }}"
  # registry and registry info
  registryIP: "{{ registry_ip }}"
  registryName: "{{ registry_domain }}"
  controlClusterVIP: "{{ cluster_vip }}"
  ntpServer: "{{ ntp_server_address }}"
