[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
User=root
EnvironmentFile=/etc/etcd-events.env
ExecStart=/bin/sh -c 'exec {{ bin_dir }}/etcd >> /var/log/etcd-events.log 2>&1'
NotifyAccess=all
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
